USE [master]
GO
/****** Object:  Database [GestioneSpese]    Script Date: 23/12/2021 15:21:13 ******/
CREATE DATABASE [GestioneSpese]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GestioneSpese', FILENAME = N'C:\Users\alessandro.vacca\GestioneSpese.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GestioneSpese_log', FILENAME = N'C:\Users\alessandro.vacca\GestioneSpese_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GestioneSpese].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GestioneSpese]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 23/12/2021 15:21:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Categoria] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Spesa]    Script Date: 23/12/2021 15:21:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Spesa](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Data] [datetime] NOT NULL,
	[CategoriaId] [int] NOT NULL,
	[Descrizione] [varchar](500) NOT NULL,
	[Utente] [varchar](100) NOT NULL,
	[Importo] [decimal](5, 2) NOT NULL,
	[Approvato] [bit] NOT NULL,
 CONSTRAINT [PK_Spese] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Spesa]  WITH CHECK ADD  CONSTRAINT [FK_SpeseCategorie] FOREIGN KEY([CategoriaId])
REFERENCES [dbo].[Categoria] ([Id])
GO
ALTER TABLE [dbo].[Spesa] CHECK CONSTRAINT [FK_SpeseCategorie]
GO
USE [master]
GO
